<div class="page-wrap">
    <nav>
        <!-- <mat-toolbar class="nav"> -->
        <div class="logo">
            <img src="/assets/navy-logo.png">
            <h2>Managed Threat Services</h2>
        </div>

        <div class="nav-links">
            <!-- <button class="nav-link">
                <mat-icon>search</mat-icon>
            </button>
            <button class="nav-link">Home</button> -->
            <button mat-button class="nav-link" *ngIf="isAdmin()" (click)="goToOktaAdmin()">
                Admin
            </button>
            <mat-menu #menu="matMenu">
                <form id="logout"></form>
                <button mat-menu-item type="submit" (click)="logout()">Log Out</button>
            </mat-menu>
            <button mat-button [matMenuTriggerFor]="menu" class="nav-link">
                <div class="user-dot">{{this.currentUser?.initials}}</div>
                {{this.currentUser?.firstName}} {{this.currentUser?.lastName}}
                <mat-icon>keyboard_arrow_down </mat-icon>
            </button>
        </div>
    </nav>

    <div class="sidebar">
        <div class="app-grid">
            <div *ngFor="let app of this.apps" class="app-card">
                <a href="{{ app._links.appLinks[0].href }}" target="_blank">
                    <img src="{{ app._links.logo[0].href }}" />
                    <h5>
                        {{ app.label }}
                    </h5>
                </a>
            </div>
        </div>

        <div class="footer">
            <!-- <button class="left-button">+ Add Apps</button>
            <button>Browse Services</button> -->

            <div class="line-break"></div>

            <div class="last-sign-in">
                <mat-icon>schedule</mat-icon>
                <p>Last Sign In: {{currentUser.loginDate | date: 'EEE MMM dd, yyyy HH:mm:ss a' }}</p>
            </div>
        </div>

    </div>

    <div class="page-bg">
        <img class="static-bg" src="/assets/slide1.png">
    </div>

    <div class="content">

        <div style="text-align:center">
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
        </div>

        <div class="rotating-coin">
            <app-rotating-coin></app-rotating-coin>
        </div>
    </div>

</div>