.page-wrap {
    width: 100vw;
    height: 100vh;
    position: relative;
    nav {
        position: absolute;
        z-index: 100;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100vw;
        height: 72px !important;
        background-color: white;
        -webkit-box-shadow: 0px 4px 12px 0px rgba(180, 194, 194, .4);
        -moz-box-shadow: 0px 4px 12px 0px rgba(180, 194, 194, .4);
        box-shadow: 0px 4px 12px 0px #00000020;
        .logo {
            margin-left: 3rem;
            img {
                width: 120px;
                margin: 0;
                padding: 0;
                margin-left: 3px;
            }
            h2 {
                color: #253746;
                font-weight: 400;
                margin-top: -6px;
            }
        }
        .nav-links {
            display: flex;
            align-items: center;
            margin-right: 3rem;
            .nav-link {
                border: none;
                background-color: white;
                display: flex;
                align-items: center;
                font-size: 14px;
                margin-left: 2rem;
                color: #253746;
                cursor: pointer;

                .user-dot {
                    width: 24px;
                    height: 24px;
                    background-color: #01807E;
                    border-radius: 50px;
                    margin-right: 8px;
                    color: white;
                    font-size: 12px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
    }
    .sidebar {
        position: absolute;
        z-index: 99;
        height: 100%;
        width: 500px;
        border-right: 2px solid #01807E;
        overflow-y: scroll;
        background-color: white;
        text-align: center;

        .app-grid {
            width: 75%;
            margin: auto;
            padding: 1rem;
            padding-top: 120px;
            padding-bottom: 120px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 1rem;

            .app-card {
                text-align: center;
                color: #253746;
                border-radius: 4px;
                padding: 2rem 1rem;
                -webkit-box-shadow: 2px 3px 10px 0px rgba(209, 223, 227, 0.9);
                -moz-box-shadow: 2px 2px 10px 0px rgba(209, 223, 227, 0.9);
                box-shadow: 2px 2px 10px 0px rgba(209, 223, 227, 0.9);
                a {
                    text-decoration: none;
                    color: #253746;
                    h5 {
                        margin-top: 12px;
                        font-size: 14px;
                        font-weight: 400;
                    }
                }
            }
        }
        .footer {
            position: fixed;
            bottom: 0;
            width: 500px;
            padding-bottom: 40px;
            vertical-align: bottom;
            background-color: white;

            .left-button {
                margin-right: 1rem;
            }
            button {
                background-color: #01807E;
                color: white;
                padding: 8px 0;
                width: 140px;
                border: none;
                font-size: 14px;
                border-radius: 1px;
                margin-bottom: 12px;
                display: none;
            }
            .line-break {
                width: 100%;
                height: 1px;
                background-color: #e3e8e7;
                margin: auto;
                margin-bottom: 12px;
            }
            .last-sign-in {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 75%;
                margin: auto;
                color: #253746;
                .mat-icon {
                    width: 18px;
                    height: 18px;
                    font-size: 18px;
                    margin-right: 8px;
                    color: #253746;
                }
            }
        }
    }
    .page-bg {
        position: absolute;
        right: 0;
        bottom: 0;
        background-color: #253746;
        width: 100%;
        height: 100%;
        z-index: 0;
        img {
          position: absolute;
          right: 0;
          bottom: 0;
          height: 100%;
          display: none;
        }
    }
    .content {
        position: absolute;
        left: 500px;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 2;
        overflow-y: scroll;
        padding-top: 120px;
        padding-left: 80px;
    }
}

@media screen and (max-width: 1070px) {
    .page-bg {
      img {
        display: block !important;
      }
    }

    .content {
        display: none;
    }
}

@media screen and (max-width: 760px) {

    .logo {

        img {
            width: 90px !important;
            margin-left: 2px !important;
        }
        h2 {
            font-size: 1em !important;
        }
    }
    .sidebar {
        width: 100% !important;
        border-right: none !important;

        .app-grid {
            width: 85% !important;
            max-width: 415px !important;
        }

        .footer {
          width: 100% !important;
        }
    }
    .page-bg {
        display: none;
    }
}

@media screen and (max-width: 660px) {
    .logo {
        display: none !important;
    }
    nav {
        justify-content: flex-end !important;
    }
}

@media screen and (max-width: 400px) {
    .nav-links {
        .nav-link {
            font-size: 12px !important;
            margin-left: 1rem !important;
        }
    }
}
