<div class="captions-rotating">
    <h3>{{this.coinInfo[this.sourceItr].title}}</h3>
    <p>{{this.coinInfo[this.sourceItr].description}}</p>
</div>
<div class="dots">
    <div [ngClass]="{'active': this.sourceItr === 0}"></div>
    <div [ngClass]="{'active': this.sourceItr === 1}"></div>
    <div [ngClass]="{'active': this.sourceItr === 2}"></div>
    <div [ngClass]="{'active': this.sourceItr === 3}"></div>
</div>
<img src={{this.coinInfo[this.sourceItr].imgSrc}}>
