img {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 100%;
}

.captions-rotating {
    margin-top: 2rem;

    h3 {
        font-weight: 300;
        color: white;
        margin-bottom: 1rem;
        font-size: 32px;
    }
    
    p {
        width: 45%;
        color: white;
        font-weight: 300;
        font-size: 18px;
    }

}

.dots {
    text-align: center;
    display: flex;
    // margin-top: 1rem;
    position: absolute;
    top: 290px;

    .dot {
        width: 8px;
        height: 8px;
        background-color: #ffffff50;
        border-radius: 50px;
        margin-right: 12px;

    }

    .active {
        background-color: white;
    }

    .inactive {
        background-color: #ffffff50;
    }
}