/* You can add global styles to this file, and also import other style files */

html, body { 
    height: 100%; 
}

body, * { 
    margin: 0; 
    padding: 0;
    font-family: 'Source Sans Pro', "Helvetica Neue", sans-serif;
}
